# Created by .ignore support plugin (hsz.mobi)

esw-swagger.iml
target/
log/
mapper/
/src/main/resources/mapper/
/src/main/java/cn/bestsort/e_study/pojo/dto/
/.idea/
pom.xml___jb_tmp___
debug.log
jsp-demo.iml
