/*div{width: 70px;height: 60px}*/
#reference div img{width: 100%;display: block}
#reference.learn{width: 1250px;height: 80px;overflow: hidden;}
#reference.address{width: 70px;height:70px;float: left}
#reference.a{float: left;width: 350px;height: 70px}
#reference.b{float: left;width: 300px;height: 80px}
#reference.c{
    float: right;
    height: 70px;
    line-height: 120px;
    margin-top: 40px;
}
#reference *{
    margin: auto;padding: 0px;
}
#reference ul,li{
    list-style: none;
}
#reference a{
    text-decoration: none;
}
#reference div.con{
    background: linear-gradient(to bottom,#0f81c5,#29bbe7);
    box-shadow: 1px 3px 2px rgba(0,0,0,.3);
}
#reference div.menu{
    width: 900px;margin: 0 auto;overflow: hidden;
}
#reference div.menu li{
    float: left;
}
#reference div.menu a{
    font: 16px Arial;color: #fff;
    width: 90px;text-align: center;
    display: block;padding: 0 15px;
    line-height: 45px;margin-right: 1px;
    background: linear-gradient(to top,#0f81c5,#29bbe7);
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    transition: all 0.3s ease-in;
}
#reference div.menu span{
    display: inline-block;transition: all 0.5s ease-in;
}
#reference div.menu a:hover,div.menu a:hover>span{
    transform:rotateY(180deg);
}
#reference button {
    width: 90px;
    padding:5px;
    background-color: #14a4fa;
    border-color: #357ebd;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-weight: 900;
    font-size:100%
}